/* Content */ 

body {
    font-family: Georgia, serif;
}
div.main {
    padding: 20px;
}

span.message {
    color: red;
    font-weight: bold;
}

/* Login */ 
input.login {
    padding: 5px;
    width: 250px;
}

.container {
    width: 500px;
    clear: both;
}
.container input[type=text] {
    width: 100%;
    clear: both;
    margin: 10px;
}
.container select {
    width: 100%;
    clear: both;
    margin: 10px;
}
.container input[type=password] {
    width: 100%;
    clear: both;
    margin: 10px;
}
.container input[type=submit] {
    background-color: #333;
    width: 25%;
    margin: 10px;
    padding: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.container input[type=submit]:hover {
    background-color: rgba(54, 161, 42, 0.664);
}



/* Header */ 
ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li.nav {
    float: left;
}

li.login {
    float: right;
}

li.nav a.nav {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.nav a.nav:hover {
    background-color: rgba(54, 161, 42, 0.664);
}

/* Footer */ 
div.footer {
    padding: 20px;
}